<div class="card">
    <h5>Advanced</h5>
    <div class="formgrid grid">
        <div class="field col-12 md:col-6">
            <label for="firstname">Firstname</label>
            <input id="firstname" type="text" class="inputfield w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname">Lastname</label>
            <input id="lastname" type="text" class="inputfield w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="email">Email</label>
            <input id="email" type="text" class="inputfield w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="phone">Phone</label>
            <input id="phone" type="number" class="inputfield w-full">
        </div>
        <div class="field col-12 md:col-12">
            <label for="subject">Subject</label>
            <input id="subject" type="text" class="inputfield w-full">
        </div>
        <div class="field col-12 md:col-12">
            <label for="message">Message</label>
            <textarea name="message" id="message" cols="30" rows="10" class="inputfield w-full"></textarea>
        </div>



    </div>


    <button class="button" type="button" value="Submit" class="justify-content-center flex align-items-center ">Submit</button>

</div>


