<ng-container *ngIf="project[currentRoute-1].image">
          <div class="">
                <div class="poster">
                    <img src="{{project[currentImage].image}}" alt="" class="poster">
                </div>
            </div>

</ng-container>

<!-- <ng-container *ngIf="movie">
        <div class="grid">
          <div class="col-12 md:col-3 lg:col-3">
            <img class="poster" [src]="imagesSizes.medium + movie.poster_path" [alt]="movie.title" />
          </div>
</ng-container> -->
  